.navbar h1, .navbar a, .nav bar a:visited, .navbar a:hover {
    color: white;
}

#map {
    margin: 3% 20%;
    min-height: 40vh;
    max-height: 40vh;
    min-width: 70vw;
    max-width: 70vw;
}

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { 

} */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { 

} */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { 

} */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* .container{
        max-width: 95%;
    } */
}

.logoImage {
    max-width: 15%;
    max-height: 15%
}