body {
    text-align: left;
}

#wait {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#wait > div {
    position: fixed;
    left: 50%;
    top: 20%;
    font-size: 3rem;
    z-index: 2;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

 #wait > img {
    position: fixed;
    left: 50%;
    top: 50%;
    min-width: 50%;
    min-height: 50%;
    transform: translate(-50%, -50%);
}

.navbar h1, .navbar a, .nav bar a:visited, .navbar a:hover {
    color: white;
    text-decoration: none;
}

td a,  a > p{
    font-weight: bold;
    color: black;
}

#map {
    margin: auto;
    min-height: 40vh;
    max-height: 40vh;
    min-width: 70vw;
    max-width: 70vw;
}

.tableAdj {
    width: 90%;
    margin: auto;
    text-align: center;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.logoImage {
    max-height: 15vh;
    margin: 25px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) { 
    #hidexs {
        display: none
    }

    #wait > div {
        font-size: 45px;
        width: 100%;
        text-align: center;
    }
    .logoContainer{
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }
    .logoImage {
        margin: 0 auto;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...}  */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...}  */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...}  */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */



/* .logoImage {
    max-width: 10%;
    max-height: 10%;
} */